body {
    margin: 0px;
    background-color: rgb(24, 12, 5);
}

.header {
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 70px;
    background-color: rgb(60, 32, 16);
    border-bottom: 3px rgb(180, 12, 12) solid;
}
.logo{
    width: 30%;
    padding-left: 10%;
    color: white;
}
.pasek{
    width: 50%;
    text-align: right;
}
.newsletter a:link, .newsletter a:visited{
    color: rgb(224, 17, 17);
    text-decoration: none;
}
.newsletter a:hover {
    color: rgb(180, 12, 12);
}
ul {
    list-style-type: none;
}
li {
    font-size: 1.5em;
    margin-right: 30px;
    display: inline;
}
li a {
    color: rgb(224, 17, 17);
    text-decoration: none;
}
li a:hover {
    color: rgb(180, 12, 12);
    border-bottom: 2px rgb(180, 12, 12) solid;
}
.newsletter {
    width: 20%;
    text-align: right;
    padding: 20px;
    padding-right: 50px;
}
.newsletter a:link {
    color: rgb(180, 12, 12);
}
form {
    display: inline;
}
input {
    margin: 10px;
}
.wlochy {
    background-image: url("../dania/pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer {
    color: rgb(180, 12, 12);
    width: 20%;

    padding-left: 5%;
    padding-right: 5%;
    border-left: 2px rgb(180, 12, 12) solid;
    border-right: 2px rgb(180, 12, 12) solid;
    background-color: rgba(255, 255, 255, 0.5);
}
.yezu {
    text-align: center;
}