
.main {
    margin-top: 6%;
    color: white;
    font-family: Verdana;
}
.pno {
    font-size: 2em;
    margin-left: 10%;
}
.pno ~ p {
    margin-left: 10%;
}
#tabelka {
    margin-left: 5%;
    display: block;
    width: 70%;
}
table {
    font-family: Verdana;
    color: white;
    font-weight: bold;
}
.yes {
    font-size: larger;
    margin-left: 30px;
    color: rgb(255, 239, 22);
}
table img {
    height: 250px;
}
td:first-child {
    background-color: rgba(180, 12, 12, 0.2);
    text-align: center;
    padding: 10px;
}
td:last-child {
    padding-left: 30px;
}
td a:link,td a:visited {
    color: white;
}
td a:hover {
    color:grey
}
